@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.App {
  background-color: #ffffff;
  margin-top: 75px;

}

a {
  color: dodgerblue;
}

.card {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  text-decoration: none;
  color: blue;
}
.dropdown-toggle[aria-expanded="true"] {
  outline: none !important;

}
.dropdown-toggle {
  text-decoration: none;
  color: black;
}
.dropdown-toggle:hover {
  text-decoration: none;
  color: blue;
}

/*********chat styling starts***********/

.chat-container{
  display: flex;
  justify-content: center;
  font-family: 'Varela Round', sans-serif;
}

.chat-body{
  height: 55vh;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/*hide scroll*/
.chat-body::-webkit-scrollbar{
  display:none;
}

/* online users */
.online-user-body{
width: 90vw;
}

.online-user-nav{
  text-align: center;
}

.online-user-email{
  font-size: xx-small;
  color: #010b13;
}

.online-icon {
  border: solid 1px #d3d3d3;
  border-radius: 50%;
  height: 6px;
  width: 6px;
  background: linear-gradient(to top, #00ff00 0%, #006600 100%);
  display: inline-block;
}

.online-icon-offline {
  background: linear-gradient(to top, #990033 0%, #ff0000 100%)
}

.user-status {
  font-size: x-small;
}

/* chat messaging */
.chat-nav, .online-user-nav {
  font-size: large;
  background-color: #ffffff;
}

.current-user-msg, .other-user-msg {
  overflow-wrap: break-word;
  min-width: 15%;
  max-width: 70%;
  padding: 10px 15px 5px 15px;
}

.current-user-msg{
  align-self: flex-end;
  border-radius: 20px 20px 4px 20px;
  background: #00b9fb;
  color: #f5f5f5;
}

.other-user-msg {
  align-self: flex-start;
  border-radius: 20px 20px 20px 4px;
  color:#010b13;
  background: #d3d3d3;
}

.back {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.delete {
  margin-left: 96%;
  cursor: pointer;
}

.message-timestamp {
  color: #a9a9a9;
  font-size: xx-small;
}

/*********chat styling ends********/


/*Button style expansion*/
.btn-more-info{
  color:#FFF;
  background:rgb(56, 160, 42);
}
.btn-like{
  color:#FFF;
  background:rgb(0, 182, 189);

}
.btn-comment{
  color:#FFF;
  background:rgb(252, 153, 39);

}
/*BTN style expansion ends*/


/*Other Post/Comment Styles*/
.aComment *{
    vertical-align:top;
}
.recipeImagePost{
  border-radius:0.5em;
}
h3.recipeTitlePost{
  font-size:140%;
  position:absolute;
  bottom:0;
  left:0;
  background:rgba(255,255,255,0.8);
  padding:0.2em 0.5em 0.3em 0.25em;
  border-radius: 0 0.15em 0 0;
  margin:0;
}
.recipeShare{
  position:relative;
}
.commentBox input{
  width:100%;
}
.commentBox button{
  float:right;
}

.displayComments{
  font-size:80%;
  max-height:300px;
  overflow-y:auto;
}

/* Below = scrollbar styling for comment sections */
html {
  --scrollbarBG: #e9e9e9;
  --thumbBG: #007bff59;
}
.displayComments::-webkit-scrollbar {
  width: 11px;
}
.displayComments {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.displayComments::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
.displayComments::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

/*Post/Comment Styles ends*/